
* {
  margin: 0;
  padding: 0;
}



#accordian {
  background-color: rgba(43, 43, 43, 0.16);
  /*box-shadow: 0 5px 15px 1px rgba(0,0,0,.6), 0 0 200px 1px rgba(255,255,255,.5);*/
  color: white;
  margin: 0px auto 0 auto;
  width:100%;
  border-radius:0px;
 position: absolute !important;
}
.cord
{
    background: #898585;}
/*heading styles*/


#accordian h3 {
  /*fallback for browsers not supporting gradients*/
 
  
cursor: pointer;
font-size: 12px;
line-height: 34px;
padding: 0 10px;
border-bottom: 1px solid rgb(143, 200, 67);
background: #898585;
border-radius: 5px;

}

/*heading hover effect*/


#accordian h3:hover { text-shadow: 0 0 1px rgba(255,255,255,.7); }

/*iconfont styles*/


#accordian h3  span {
  font-size: 16px;
  margin-top:0px;
  margin-bottom:0px;
}

/*list items*/


#accordian li { list-style-type: none; }

/*links*/


#accordian ul ul li a {
  color:black;
  
  font-size: 11px;
  line-height: 27px;
  padding: 0 15px;
  text-decoration: none;
  transition: all 0.15s;
}

/*#accordian ul ul li a:hover {
  background-color: #003545;
  border-left: 5px solid lightgreen;
}*/


/*Hiding the non-active list items by default*/


